.home .final-cta-container {
  width: 100%;
  background-color: var(--bg-100);
}
.home .final-cta-inner {
  display: flex;
  align-items: center;
  border-width: 2px;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  max-width: 1280px;
  height: 824px;
  margin: 0 auto;
  padding: 16px;
}
.home .final-cta-inner .content-container {
  background-color: var(--green-400);
  border-radius: var(--round-xl);
  color: var(--text-white);
  width: 896px;
  height: 356px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .final-cta-inner .content-container .content h2 {
  text-align: center;
  margin: 0;
  font-size: xx-large;
}
.home .final-cta-inner .content-container .content p {
  text-align: center;
  font-weight: lighter;
}
.home .final-cta-inner .content-container .content .button {
  display: flex;
  justify-content: center;
}
.home .final-cta-inner .content-container .content .button a {
  text-decoration: none;
  padding: 24px 48px;
  border-radius: var(--round-lg);
  background-color: var(--bg-100-a);
  font-size: var(--font-md);
  color: var(--green-500);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}