@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url("styles/global.css");
@import url("styles/components/navbar.css");
@import url("styles/components/footer.css");
@import url("styles/sections/hero_section.css");
@import url("styles/sections/why_track.css");
@import url("styles/sections/hiw.css");
@import url("styles/sections/impact_section.css");
@import url("styles/sections/final_cta.css");
@import url("styles/page/dashboard.css");

#root {
  font-family: var(--sans);
}

html, body {
  margin: 0;
  color: var(--text);
  overflow-x: hidden;
  max-width: 100%;
}

button {
  font-family: var(--sans);
  cursor: pointer;
}

input {
  font-family: var(--sans);
}