@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url("styles/global.css");
@import url("styles/navbar.css");
@import url("styles/hero_section.css");
@import url("styles/why_track.css");
@import url("styles/hiw.css");
@import url("styles/impact_section.css");
@import url("styles/final_cta.css");
@import url("styles/footer.css");

#root {
  font-family: var(--sans);
}

html, body {
  margin: 0;
  color: var(--text);
  overflow-x: hidden;
  max-width: 100%;
}

button {
  font-family: var(--sans);
  cursor: pointer;
}