.dashboard .carbon-calculator-container {
  width: 100%;
  background-color: var(--bg-100);
  padding-top: 86px;
  height: 1200px;
}
.dashboard .carbon-calculator-inner {
  display: flex;
  border-width: 2px;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.dashboard .hero-section-container {
  width: 100%;
}
.dashboard .hero-section-inner {
  max-width: 512px;
}
.dashboard .hero-section-inner h1 {
  margin: 0;
  color: var(--green-500);
}

.dashboard .bento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  width: 100%;
}

.dashboard .bento .form-container { 
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.dashboard .bento .form-inner {
  padding: 32px;
  background-color: var(--bg-100-a);
  border-radius: var(--round-lg);
  border: solid;
  border-color: var(--gray-300);
  border-width: 1px;
}
.dashboard .bento .form-inner .title {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.dashboard .bento .transportation .title svg {
  width: 32px;
  background-color: var(--green-200);
  padding: 10px;
  border-radius: var(--round-sm);
}
.dashboard .bento .energy-used .title svg {
  width: 32px;
  background-color: var(--red-100);
  padding: 10px;
  border-radius: var(--round-sm);
}
.dashboard .bento .form-inner h2 {
  margin: auto 0;
  color: var(--green-500);
}
.dashboard .bento .energy-used .form-input {
  display: flex;
  gap: 16px;
}
.dashboard .bento .form-inner .form-input label {
  display: block;
  text-transform: uppercase;
  font-weight: var(--bold-md);
  color: var(--gray-400);
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: var(--font-sm);
}
.dashboard .bento .form-inner .form-input input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: var(--gray-100);
  border: solid;
  border-color: var(--gray-300);
  border-width: 1px;
  border-radius: var(--round-sm);
  padding: 10px;
  font-size: large;
}
.dashboard .bento .form-inner .form-input .vehicle-type-buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}
.dashboard .bento .form-inner .form-input .vehicle-type-buttons button {
  width: 50%;
  height: 54px;
  border: none;
  background-color: var(--green-400);
  border: solid;
  border-color: var(--green-400);
  border-width: 1px;
  border-radius: var(--round-sm);
  color: var(--text-white);
  font-size: medium;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.dashboard .bento .form-inner .form-input .vehicle-type-buttons button:hover {
  background-color: var(--green-500);
}
.dashboard .bento .form-inner .form-input .vehicle-type-buttons button svg {
  width: 24px;
  background-color: transparent;
  padding: 0;
  fill: var(--text-white);
}
.dashboard .bento .form-inner .form-input .vehicle-type-buttons button span {
  margin: auto 0;
}
.dashboard .bento .form-container .submition {
  display: flex;
  gap: 16px;
}
.dashboard .bento .form-container .submition button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 54px;
  border: none;
  background-color: var(--green-400);
  border-radius: var(--round-xl);
  color: var(--text-white);
  font-size: large;
  gap: 10px;
}
.dashboard .bento .form-container .submition button svg {
  width: 24px;
  fill: var(--text-white);
}
.dashboard .bento .form-container .submition a {
  display: flex;
  align-items: center;
  border: none;
  font-size: large;
  gap: 10px;
  text-decoration: none;
  color: var(--text);
}
.dashboard .bento .form-container .submition a svg {
  width: 24px;
  fill: var(--text);
}

.dashboard .bento .right-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dashboard .right-container .eco-tip {
  display: flex;
  align-items: start;
  background-color: var(--gray-100);
  border: solid;
  border-radius: var(--round-lg);
  border-color: var(--gray-300);
  border-width: 1px;
  padding: 24px 16px;
  gap: 16px;
  height: 72px;
}
.dashboard .right-container .eco-tip svg {
  width: 46px;
  fill: var(--green-500);
}
.dashboard .right-container .eco-tip .content h3 {
  margin: 0;
  color: var(--green-500);
}
.dashboard .right-container .eco-tip .content p {
  margin: 0;
  color: var(--gray-400);
}

.dashboard .bento .your-impact {
  filter: hue-rotate(280deg);
  background-position: center;
  border-radius: var(--round-lg);
  height: 436px;
  padding: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: filter 1s;
}
.dashboard .bento .your-impact .title {
  color: rgba(50, 50, 50, 0.8)
}
.dashboard .bento .your-impact .title h2 {
  margin: 0;
}
.dashboard .bento .your-impact .visualizer {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dashboard .bento .your-impact .visualizer svg {
  margin: auto;
  fill: rgba(50, 50, 50, 0.5);
  transform: rotate(45deg);
  transform-origin: x-axis y-axis;
  transition: transform 2s;
}
.dashboard .bento .your-impact .visualizer p {
  color: rgba(50, 50, 50, 0.8);
  text-transform: uppercase;
  margin: auto;
}
.dashboard .bento .your-impact .progress {
  width: 100%;
  height: 18px;
  background: #FFFFFF33;
  border: solid;
  border-color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
  border-radius: 999px;
  overflow: hidden;
  backdrop-filter: blur(10px);
}
.dashboard .bento .your-impact .fill {
  width: 0%;
  height: 100%;
  border-radius: 999px;
  background: #0066ff9f;
  box-shadow: 0px 0px 15px 0px #00ccff80;
  transform-origin: left center;
  transition: width 2s;
}
.dashboard .bento .your-impact .progress-text {
  width: 100%;
  display: flex;
  color: rgba(50, 50, 50, 0.8);
  justify-content: space-between;
}