:root {
  --text: #222;
  --text-h: #4c008a;
  --text-white: #fff;
  --bg-100: #FAFAF9;
  --bg-100-a: #fff;
  --bg-alert: #FFDAD64D;
  --border: #222;
  --green-100: #BCF0AE;
  --green-200: #91F78E;
  --green-300: #065F46;
  --green-400: #2D5A27;
  --green-500: #154212;
  --green-600: #0e2c0c;
  --gray-100: #F2F4F1;
  --gray-100-a: #FAFAF9;
  --gray-200: #E7E9E6;
  --gray-300: #E1E3E0;
  --gray-300-a: #ECEEEB;
  --gray-400: #57534E;
  --gray-500: #42493E;

  --red-500: #BA1A1A;

  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;

  --bold-md: 600;
  --bold-lg: 800;

  --round-sm: 10px;
  --round-md: 16px;
  --round-lg: 24px;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Manrope', 'Segoe UI', Roboto, sans-serif;
  --heading: 'Times New Roman', Times, serif;
  --mono: ui-monospace, Consolas, monospace;
}