.hero-section-container {
  width: 100%;
  background-color: var(--bg-100);
}
.hero-section-inner {
  display: flex;
  align-items: center;
  border-width: 2px;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1280px;
  height: 824px;
  margin: 0 auto;
  padding: 16px;
}

.hero-section-container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hero-section-inner .content .left-content { 
  grid-area: 1 / 1 / 2 / 2;
  margin: auto 0;
}
.hero-section-inner .content .right-content { 
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: right;
}

.hero-section-inner .right-content img {
  width: 597px;
  border-radius: var(--round-md);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  user-select: none;
}

.hero-section-inner .buttons {
  display: flex;
  gap: 10px;
}

.hero-section-inner .buttons button {
  border: none;
  border-radius: var(--round-lg);
  padding: 10px 20px;
}

.hero-section-inner .buttons .primary-button {
  color: var(--text-white);
  background-color: var(--green-400);
}

.hero-section-inner .buttons .secondary-button {
  color: var(--green-400);
  background-color: var(--gray-200);
  border: solid;
  border-width: 2px;
  border-color: var(--green-400);
}

@media (max-width: 936px) {
  .hero-section-inner {
    display: flex;
    align-items: start;
    border-width: 2px;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 1280px;
    height: 100%;
    margin: 0 0;
    padding: 0;
  }
  .hero-section-container .content {
    display: block;
  }

  .hero-section-inner .content .left-content { 
    display: block;
    position: absolute;
    z-index: 1;
    padding: 20px;
  }
  
  .hero-section-inner .content .right-content { 
    display: flex;
    position: relative;
    z-index: 0;
  }

  .hero-section-inner .content .right-content img {
    width: 936px;
    border-radius: 0;
    pointer-events: none;
    -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
    user-select: none;
  }
}