.hero-section-container {
  width: 100%;
  background-color: var(--bg-100);
}
.hero-section-inner {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 870px;
  height: 870px;
  padding: 14px;
}

.left-content {
  top: 10px;
}

.right-content {
  
}

.right-content img {
  width: 592px;
  border-radius: var(--round-md);
  box-shadow: 10px 10px var(--green-600);
  pointer-events: none;
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  user-select: none; 
}