.impact-section-container {
  width: 100%;
  background-color: var(--gray-100);
}
.impact-section-inner {
  display: flex;
  align-items: center;
  border-width: 2px;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1280px;
  height: 824px;
  margin: 0 auto;
  padding: 16px;
}

.impact-section-inner .bento {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
    
.impact-section-inner .bento .main {
  grid-column: span 3 / span 3;
  background-color: red;
}

.impact-section-inner .bento .smart-tip {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  background-color: blue;
}

.impact-section-inner .bento .local-insights {
  grid-row-start: 2;
  position: relative;
  border-radius: var(--round-md);
  overflow: hidden;
  border: solid;
  border-width: 1px;
  border-color: var(--gray-300);
}

.impact-section-inner .bento .local-insights .text-container {
  position: absolute;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.impact-section-inner .bento .local-insights .text {
  margin-top: auto;
  padding: 12px;
}
.impact-section-inner .bento .local-insights .text h3 {
  color: var(--gray-500);
  font-size: x-large;
  margin: 0;
}
.impact-section-inner .bento .local-insights .text p {
  font-size: var(--font-sm);  
  margin-top: 0;
}

.impact-section-inner .bento .local-insights img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.impact-section-inner .bento .local-insights::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    #eceeeb 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.impact-section-inner .bento .stats {
  grid-column: span 4 / span 4;
  grid-row-start: 2;
  background-color: yellow;
}